html, body {
    /* The universe takes up all available space */
    width: 100%;
    height: 100%;
    
    /* The universe is black */
    background-color: black;
}

#sun {
    position: absolute;
    /* Positions the top-left corner of the image to be *
    /* in the middle of the box */
    top: 50%;
    left: 50%;
    
    /* Play with these numbers to see what it does */
    height: 200px;
    width: 200px;
    margin-top: -100px; 
    margin-left: -100px;
    border-color: orange;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    box-shadow: 0 0 64px yellow;
}

#earth {
    /* Style your earth */
    /*Postiioning*/
    position: absolute;
    top: 100px;
    left: 50%;
    height: 50px;
    width: 50px;
    margin-left: -25px;
    margin-top: -25px;
    
/*Coloring and shadow*/
  border-color: #2E2EFE;
  border-width: 2px;
  border-style: solid;
  border-radius: 50%;
  box-shadow: 0 0 64px #7887AB;
}

#earth-orbit {
    /* For Section #2 */
    
    position: absolute;
    top: 50%;
    left: 50%;

    width: 500px;
    height: 500px;
}